body,
html {
    height: 100vh;
    border: 1px solid black;
    margin: 0;
}

.loading {
    display: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#payment-form {
    display: flex;
    background-color: aliceblue;
    height: 400px;
    width: 300px;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

#card-number {
    border: 1px solid #000;
}

#card-expiry {
    border: 1px solid #000;
}

#card-cvc {
    border: 1px solid #000;
}